<div class="flex justify-around flex-nowrap relative bg-white" style="width: 100%; height: 479px;">
    <div class="absolute left-0 top-0 bg-purple-800" style="width: 100%; height: 7px;"></div>

    <div class="inline-flex flex-col space-y-10 items-start justify-start w-[65%] h-[360px] mt-[71px] pl-[70px]">
        <img class="w-64 h-1/5" src="../../../assets/fcd-logo-rose.png" />
        <div class="inline-flex space-x-24 items-start justify-start" style="width: 100%; height: 184px;">
            <div class="inline-flex flex-col space-y-4 items-start justify-start">
                <p class="text-base font-medium leading-normal text-center text-gray-900">About Us</p>
                <p class="text-base font-medium leading-normal text-center text-gray-900">Careers</p>
            </div>
            <div class="inline-flex flex-col space-y-4 items-start justify-start">
                <p class="text-base font-medium leading-normal text-center text-gray-900">Become A Vendor</p>
                <p class="text-base font-medium leading-normal text-center text-gray-900">Corporate Gifts</p>
            </div>
            <div class="inline-flex flex-col space-y-4 items-start justify-start">
                <p class="text-base font-medium leading-normal text-center text-gray-900">Our Blog</p>
                <p class="text-base font-medium leading-normal text-center text-gray-900">Sitemap</p>
            </div>
            <div class="inline-flex flex-col space-y-4 items-start justify-start">
                <p class="text-base font-medium leading-normal text-center text-gray-900">Refund Policy</p>
                <p class="text-base font-medium leading-normal text-center text-gray-900">Cancellation Policy</p>
                <p class="text-base font-medium leading-normal text-center text-gray-900">Privacy Policy</p>
                <p class="text-base font-medium leading-normal text-center text-gray-900">Payments And Security</p>
                <p class="text-base font-medium leading-normal text-center text-gray-900">Terms And Conditions</p>
            </div>
        </div>
        <p class="text-base font-medium leading-normal text-center text-gray-500">2022 Giftykart.com. All Rights Reserved</p>
    </div>


    <div class="inline-flex flex-col space-y-9 items-end justify-start w-[30%] h-[360px] mt-[80px]">
        <div class="flex flex-wrap justify-evenly space-x-4 items-start w-[100%]">
            <div class="w-[32px] h-[32px] rounded-full" style="background-color:#3B5998;">
                <img src="https://img.icons8.com/color/48/000000/facebook-circled--v1.png" class="w-[100%] h-[100%]"/>
            </div>
            <div class="w-[32px] h-[32px] rounded-full">
                <img class="rounded-full w-[100%] h-[100%]" src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/48/000000/external-instagram-a-popular-social-networking-service-with-magic-filters-logo-color-tal-revivo.png"/>
            </div>
            <div class="w-[32px] h-[32px] rounded-full" style="background-color:#FF0000;">
                <img class="rounded-full w-[100%] h-[100%]" src="https://img.icons8.com/color/48/000000/youtube-play.png"/>
            </div>
            <div class="w-[32px] h-[32px] rounded-full" style="background-color:#0077B5;">
                <img class="rounded-full w-[100%] h-[100%]" src="https://img.icons8.com/fluency/48/000000/linkedin.png"/>
            </div>
            <div class="w-[32px] h-[32px] rounded-full" style="background-color:#BD081C;">
                <img class="rounded-full w-[100%] h-[100%]" src="https://img.icons8.com/color/48/000000/pinterest--v1.png"/>
            </div>
            <div class="w-[32px] h-[32px] rounded-full" style="background-color:#1DA1F2;">
                <img class="rounded-full w-[100%] h-[100%]" src="https://img.icons8.com/color/48/000000/twitter-circled--v1.png"/>
            </div>
        </div>
        <div class="flex flex-col space-y-4 items-start justify-start">
            <img class="w-full h-12" src="../../../assets/store-google-play.png"><div>
            <img class="w-full h-14" src="../../../assets/store-app-store.png"><div>
        </div>
    </div>
    
</div>