<div class="flex flex-col items-start justify-start px-16 py-6 bg-gradient-to-b from-purple-800 to-purple-800 w-[100%] h-[171px]">
    <div class="inline-flex space-x-2.5 items-center justify-between w-[95%] h-[123px]">
        <div class="inline-flex flex-col items-start justify-center w-[25%] h-auto">
            <img class="w-[100%] flex-1" src="../../../assets/Logo-White.png"/>
        </div>
        <div class="flex space-x-6 items-center justify-start" style="width: 60%; height: 123px;">
            <p class="text-3xl leading-9 text-right text-white" style="width: 510px;">Use Code<span class="text-pink-400"> FIRST15 </span>to get 15% discount on your first order</p>
            <img class="w-56 h-full" src="../../../assets/giftbox.png"/>
        </div>
    </div>
</div>